[2018-06-05 11:22] JoHuang opened #7 "Cannot install"
I tried yarn and npm.

[code]

[2018-06-05 21:07] cheempz commented on #7
Hi @JoHuang, thanks for trying out our Node.js agent!

I'm not sure if your snippet above `/Users/apple` means you're trying to install our agent on Mac OS X, if so, we don't yet support that.  The agent needs to compile a C++ Addon that currently is only supported for Linux -- you can find out more in our KB about [supported platforms](https://docs.appoptics.com/kb/apm_tracing/supported_platforms

[2018-06-08 22:07] bmacnaughton commented on #7
JoHuang, thanks for reporting the issue. Did the `--unsafe-perm` flag solve the problem?

I'm going to close this as we haven't heard back but if you still have an issue please re-open it and let us know how we can help.

[2018-06-08 22:07] #7 closed

[2018-06-18 09:24] yo-han opened #9 "ao.bind errors in logs"
We just implemented appoptics in a some nodejs servers that we run and found an endless stream of these errors in the logs. We can't find what we're doing wrong here.

2018-06-18T09:13:17.026Z appoptics:warn instrumentHttp: no last span or disabled
2018-06-18T09:13:17.026Z appoptics:error express.profiledRoute failed to build span
2018-06-18T09:13:17.026Z appoptics:warn instrumentHttp: no last spa

[2018-06-18 12:34] yo-han commented on #9
I found we could mask these errors by changing the DEBUG env variable to only loggin fatal errors. But that seems not correct way to solve this issue.

[2018-06-18 17:50] bmacnaughton commented on #9
Thanks for the bug report.  It seems there is a problem tracing where the context is lost between the HTTP layer and the layers below it.

You're using v5.0.0 of appoptics-apm?

Does your `/usr/src/app/util/soapclient.js` module use `request` or does it use the `http` primitives? If it uses `request`, does it use the promise version?

[2018-06-19 07:51] yo-han commented on #9
We're using version 5.0.1 of of appoptics-apm. And the soapclient is using `request v2.87.0`,  the default non promise version.

[2018-06-19 12:56] yo-han commented on #9
Node version: 8.11.3
Npm version: 5.6.0
Npm ls: [npm.txt](https://github.com/appoptics/appoptics-apm-node/files/2115169/npm.txt)

In alteration.js on row 247 this request is done:

[code]

Then in soapclient.js the following is executed:

[code]

[2018-06-21 11:28] bmacnaughton commented on #9
Thanks for the additional details. I got to a stopping point in a project and am working to reproduce the issue you've reported.

[2018-06-24 14:29] bmacnaughton commented on #9
yo-han, I've got a simple soap-server running and am getting traces so I might be thinking about your application in the wrong way. I have been thinking that it's an HTTP server of some sort that is then making an outbound SOAP call using (something like) the code you provided above. But if that's not the case, and instead it is a batch/cron/command-line initiated process then I'd expect something

[2018-06-26 08:34] yo-han commented on #9
Yeah I made it so you can use a soap url of your own by passing a SOAP_URL environment variable. When can not share ours because it's a private soap API with authentication.

When you release a new version we can check your fix on our end. I'll let you know what we find out.

[2018-06-26 12:52] bmacnaughton commented on #9
Makes sense. Give v5.0.2 a shot when you get a chance. I'm interested in any errors/warnings that remain in your log file (you'll have to turn that back on I guess, at least for a bit).

Thanks for your help; it's always a challenge to debug code without access to it!

[2018-07-05 17:07] bmacnaughton commented on #9
I appreciate you reporting this and providing information to help track it down. I'm going to assume that no news is good news and that 5.0.2 addressed the problem. If it didn't, please feel free to comment and we'll reopen this issue.

[2018-07-05 17:07] #9 closed

[2018-07-05 20:07] complex-ci opened #12 "Cannot install, ./deps.sh is missed"
Hello.
I'm getting error when trying to install as instructed
`npm install --save appoptics-apm`

However I'm getting this error.

Possibly because deps.sh is missed in https://registry.npmjs.org/appoptics-apm/-/appoptics-apm-5.2.0.tgz

If I add
`    "appoptics-apm": "^5.0.2",`
to packages.json it seems installed with no errors. But I have no Traces in application however.

[2018-07-05 22:04] bmacnaughton commented on #12
Thank you for reporting this. It is fixed in version 5.2.1 while version 5.2.0 has been unpublished and is no longer available. Further, I've added an additional step to the release process.

[2018-07-05 22:04] #12 closed

[2018-08-15 03:35] twiggy opened #14 "getting log.patching undefined in hapi.js"
log.patching('hapi.generator.request not a function');
    ^

ReferenceError: log is not defined
    at patchGenerator (/home/xxxx/xxxx/node_modules/appoptics-apm/dist/probes/hapi.js:154:5)

Getting this when requiring hapi.js

Noticed that in mongoose.js there is

const ao = require('..')
const log = ao.loggers

But i don't see the const log line in hapi.js. Maybe it was being defined in the surr

[2018-08-15 04:59] twiggy opened #15 "ao.bind anonymous - no context Error: CLS NOT ACTIVE for mssql - generic pool support might be outdated"
appoptics:warn ao.bind anonymous - no context Error: CLS NOT ACTIVE
    at Object.exports.bind (/xxxxx/node_modules/appoptics-apm/dist/index.js:618:17)
    at Pool.aaabbb (/xxxxx/node_modules/appoptics-apm/dist/probes/generic-pool.js:27:31)
    at ConnectionPool._acquire (/xxxxxx/node_modules/mssql/lib/base.js:184:22)
    at ConnectionPool.acquire (/xxxxxx/node_modules/mssql/lib/base.js:172:12)

[2018-08-15 05:01] twiggy opened #16 "support hapi 17.5"
We are moving to appoptics if you haven't guessed. We use hapi 17.5, but i think your support ends at 16.5. I think i got it going fixing the other issue, but i wonder if i'm going to get a good transaction name since we use also use hapi-openapi to server up a swagger/open api endpoint...so just get a single api transaction name :(. So hapi 17.5 might be working fine, and it could just be the way

[2018-08-15 17:40] bmacnaughton commented on #14
Thanks for the information and putting a fix in place twiggy. You're right about the missing `const log = ao.loggers`.

It's likely the reason that the message is firing is because v17 likely changed the structure of the objects that need to be patched. This is fixed in our code right now but it's likely that changes are required to the hapi probe itself for tracing to work correctly.

[2018-08-15 17:48] bmacnaughton commented on #15
We don't currently support generic-pool versions >= 3. I'll take a look at this.

[2018-08-15 17:51] bmacnaughton commented on #16
It's not clear what the issue you have is now. When you say "fixed the other issue" you mean the "log.patching()" error? That would allow the patching to continue but would not likely work as expected, though it likely would for a subset of the API.

I'm not sure what the issue with the transaction name is. Can you clarify that?

[2018-08-21 15:26] bmacnaughton commented on #15
v5.4.1 supports generic-pool v3.

[2018-08-21 15:26] #15 closed

[2018-08-21 15:27] bmacnaughton commented on #14
This is fixed in v5.4.1.

Hapi v17 will take longer - it's a complete rewrite on their part.

[2018-08-21 15:27] #14 closed

[2018-08-22 03:01] twiggy commented on #16
Thanks, log.patching is now fixed, so hapi is loading up. but all my transactions come out named /api/v1 instead of /api/v1/users, /api/v1/comments ...we use a swagger plugin that registers routes on startup. Its possible that hapi 17.5 is basically working and i'll need to do some custom transaction naming code in a hapi event like 'preAuth'.

[2018-08-22 03:43] twiggy commented on #16
thanks again. i think hapi 17.5 is "supported" in that it works and i can get custom tx names set albeit a little hacky.

I hacked a custom tx name by doing this. I saw setCustomTXName is only supported by express at the moment.

try {
            	h.request.raw.res._ao_metrics.txname = h.request.route.path;
            } catch(ex){console.log(ex)};

where h = the hapi object. i noticed you had co

[2018-08-23 01:18] bmacnaughton commented on #16
nice hack - that's pretty much the same approach i'll take with some additional checks most likely.

says, if you can drop me your email (package has one for me) i'll update you when i have we have native custom txname support.

it's kind of amazing that hapi 17.5 is working. it does not pass our tests; i might need to change them some based on your input.

thanks for you efforts.

[2018-08-24 16:52] twiggy opened #20 "error output with tedious.js"
`appoptics:error ao.runInstrument failed to build span TypeError: Cannot read property 'value' of undefined
    at ao.instrument.args.(anonymous function).userCallback (/home/folder/baseplate/node_modules/appoptics-apm/dist/probes/tedious.js:37:56)
    at runInstrument (/home/folder/baseplate/node_modules/appoptics-apm/dist/index.js:734:45)
    at Object.exports.instrument (/home/folder/baseplate/

[2018-08-27 13:56] bmacnaughton commented on #20
node-mssql 4.0.1 uses tedious
node version 8.11.3

[2018-08-27 19:30] twiggy opened #21 "Shimming hapi.decorate missing 4th argument."
In probes/hapi.js line ~230 there is

[code]

It should be ( not sure if options is the best name or not )
[code]

We had a plugin ( Yar sessions ) that uses a 'request' scope decorate and passes in {apply:true}

[code]

without apply : true the function basically only gets called once by hapi meaning that stops being a per request plugin and can share info. In this case it basically caused our se

[2018-08-28 19:18] bmacnaughton commented on #21
v5.4.2 addresses this. Thanks!

[2018-08-28 19:18] #21 closed

[2018-08-30 15:27] twiggy opened #22 "http.js probe corrupting streamed data"
Having a weird issue where when we upload an image the data is corrupted before we send it off to s3.

I imagine you could reproduce by having curl POST an image body to a node/hapi endpoint, write a file out, and see if its corrupted in some way. If I have time later maybe i can create a simple test case.

Did a bunch of digging and I can remove the behavior by disabling the 'emit' shimmer wrap.

[2018-08-30 15:58] bmacnaughton commented on #22
Thanks for the investigation and trial and error work. `ao.requestStore.run()` causes the emitter to run with the correct continuation-local-storage context. cls is used to thread the events of a single transaction together. it's very odd that corruption occurs because that's the only (intended consequence). `ao.requestStore.run()` directly calls the cls-hooked `namespace.run()` function. If you c

[2018-08-31 18:43] twiggy commented on #22
I think I finally figured out what is happening.

We have this block of code.

[code]

stream.unshift is an official Node js function on streams.

The appoptics code is using this github project called event-unshift. I noticed in the debugger that our stream object is basically getting the stream's unshift function replaced.

I'm not 100% sure but i think they are 2 entirely different purposes.

A

[2018-08-31 21:56] bmacnaughton commented on #22
Thank you! event-unshift is used to add event-listeners before existing event-listeners. The choice of names is clearly an issue - I'll change the function name so it doesn't conflict. (It's been there since 0.9.17.) Will note here when it's fixed.

[2018-09-06 12:28] bmacnaughton commented on #22
It's been fixed a while but I haven't released it. Trying to get a number of changes in for a bigger release. Let me know if it's important and I can go back and release this fix independently.

[2018-09-06 15:06] twiggy commented on #22
we got our trial extended till end of September so i think I'm fine waiting for a bigger release. if you think it'll be out in the next week or two should be fine.

[2018-09-13 01:05] cheempz commented on #22
@twiggy thanks for your patience on this one, we just released version 5.6.0 that should fix this issue, please give it a try.

[2018-09-18 20:35] cheempz commented on #22
Closing, please feel free to create another issue if the new version didn't address this.

[2018-09-18 20:35] #22 closed

[2018-09-18 21:21] twiggy commented on #22
sorry i didn't get a chance to try the RC version. Hopefully tonight or tomorrow i can up the version and run some tests locally. Thanks!

[2018-09-18 21:53] cheempz commented on #22
No worries, please note that the fix is now released and available in GA versions 5.6.0+.

[2018-09-20 11:20] chooban opened #28 "Postgres connection issues with newer drivers"
I'm currently trying to evaluate App Optics in combination with node and postgres. I have a version of the server app running on node 10.2.1 inside a docker container, but when I try to start the server I get an error:

[code]

After this, I get information about the http requests on my dashboard, but the database connection isn't working. Any request that hits the database gets a similar warning.

[2018-09-20 14:02] twiggy opened #29 "getting appoptics error message, but not sure if they are effecting anything"
New version, 5.6.1, seems to be outputing some more errors. perhaps around hapi 17 issues.

appoptics:error task IDs don't match (hapi:exit 2b:ed05fc21686947f5b6b5f4a916945b820a33ebae:41331a48f2358f5c:01 vs mongodb-core:exit 2b:caee8ca001bf30003dc73c82dd9137ded0b5956c:35cd2c7498577354:01) +0ms
  appoptics:error hapi:exit 2b:ed05fc21686947f5b6b5f4a916945b820a33ebae:41331a48f2358f5c:01 tried to add

[2018-09-20 14:02] twiggy commented on #22
seems fixed in my testing

[2018-09-20 16:49] bmacnaughton commented on #29
Thanks. Do you know if this happens on every request or just some of them?

[2018-09-20 16:50] bmacnaughton commented on #22
Thank you for testing and confirming the fix.

[2018-09-20 18:40] bmacnaughton commented on #28
It's on our list to fix but I don't have a specific time-frame for you. There are currently 4 packages that require non-trivial fixes due to significant changes in their implementation.

https://node-postgres.com/guides/upgrading

[2018-09-21 10:44] chooban commented on #28
If I can get a dev environment up and running I can take a look at the work required to update it if that would be useful? I tried running tests on the mac and mysql blew up, but I've added a skip option to it. Little steps, eh?

[2018-09-30 14:41] paps commented on #28
Also facing this issue (log message `appoptics:warn ao.bind  - no context Error: CLS NOT ACTIVE`).

I'm using `any-db`, `any-db-postgres` and `any-db-transaction` with `appoptics-apm` 5.6.1

[2018-10-16 15:03] bmacnaughton commented on #16
v5.7.0 supports hapi in my tests. See https://github.com/appoptics/appoptics-apm-node/releases/tag/v5.7.0.

While it is different than your implementation the custom name function should not break your code. The custom name function takes a single parameter - the hapi request object (`request` in `handler(request, h)`).

I'm not sure why you're using `h` as opposed to `request`, so I could be miss

[2018-10-16 15:03] #16 closed

[2018-10-16 16:01] cheempz commented on #29
Hi @twiggy, thanks for your patience on this.   We've released agent [v5.7.0](https://github.com/appoptics/appoptics-apm-node/releases/tag/v5.7.0) that supports hapi 17, please note that the custom transaction name SDK call for hapi is given a single `request` argument, details in the [API reference](https://github.com/appoptics/appoptics-apm-node/blob/master/guides/api.md#aosetcustomtxnamefunctio

[2018-11-01 21:23] jdalton opened #34 "patchPathMethods removes `fs.realpath.native` and `fs.realpathSync.native` methods."
[`patchPathMethods()`](https://github.com/appoptics/appoptics-apm-node/blob/ce38048105bd526803587df891ad6c7e422d4bc0/lib/probes/fs.js#L90-L113) removes [`fs.realpath.native`](https://nodejs.org/api/fs.html#fs_fs_realpath_native_path_options_callback) and [`fs.realpathSync.native`](https://nodejs.org/api/fs.html#fs_fs_realpathsync_native_path_options) methods.

[2018-11-02 13:57] bmacnaughton commented on #34
I can fix this in our code if, as I suspect it might be, tricky for you to get around.  By fix I mean that I can make the `realpath.native` and `realpathSync.native` methods available on the patched function.

[2018-11-02 14:15] jdalton commented on #34
Thank you, that would be great! They are publicly accessible and documented Node methods, which means appoptics-apm is potentially breaking other folks code that use them too.

[2018-11-07 22:20] bmacnaughton commented on #34
they'll be in the next release of appoptics-apm.

[2018-11-07 22:21] #34 closed

[2018-11-07 22:42] bmacnaughton commented on #20
Any chance you can determine which queries cause this error? Our tests, while not exhaustive, don't encounter it so the query and parameters might be useful.

[2018-11-08 01:59] bmacnaughton commented on #28
@paps - are you also running pg 7.x drivers? if not, please provide the stack trace with the lost context. i've recently fixed quite a few of those (going to be in the 5.9.0 release) but I haven't seen them with `pg` for our currently supported versions.

[2018-11-08 02:02] bmacnaughton commented on #28
@chooban - be happy to collaborate with you on this. our c-library doesn't compile/execute on a mac so you'll need a linux docker container to get things working. i can spend some time with you on getting a dev environment set up (given the caveat that i run linux, not mac) if you are interested in pursuing this.

i will be taking a look at it pretty soon.

[2018-11-08 19:36] bmacnaughton commented on #28
@paps - no, i think you're ok running pg@6.1.5. That version passes our tests, but with any system like postgres there are many situations we don't test. Can you provide the stack trace associated with those errors? And, if you know the query that is being used it would be great to get that as well.

useful info:
- os
- node version
- npm ls --json
- stack trace from error
- query if you know what

[2018-11-12 23:06] bmacnaughton commented on #34
Release in v5.9.0

[2018-11-18 14:47] Igor-Techsee opened #40 "Ignore the transaction by url/path"
We are using socket.io and need to ignore socket.io requests to get real response time average. Is there any solution for this?

[2018-11-26 18:04] bmacnaughton commented on #40
Sorry for the delay - I'd been traveling for Thanksgiving.

I'll take a look at it this week.

[2018-11-27 08:20] chooban commented on #28
@bmacnaughton Apologies for the delay. I saw the notification then it got swamped by others. Happy to take a look at this with you. Do you have a dockerfile for getting up and running with it?

[2018-11-28 22:46] bmacnaughton commented on #40
We do not currently support this. If you have specific use cases or ideas we would appreciate your input.  I'm closing this but please comment so we can take your needs into account as we work on this feature.

[2018-11-28 22:46] #40 closed

[2018-12-02 14:31] Igor-Techsee commented on #40
The use case is to ignore some requests/transactions by path ( '/socket.io' in our case)

[2018-12-02 14:35] Igor-Techsee opened #43 "mongoose issues"
os - ubuntu 14.04
node version - 6.9.4
stack trace from error -

appoptics:warn ao.bind - no context Error: CLS NOT ACTIVE
at Object.exports.bind (/***/node_modules/appoptics-apm/lib/index.js:638:17)
at Query._wrapCallback (/***/node_modules/appoptics-apm/lib/probes/mongoose.js:91:37)
at Query.findOne (/***/node_modules/mquery/lib/mquery.js:1811:19)
at Query._findOne (/***/node_modules/mongoose/li

[2018-12-04 10:01] Igor-Techsee commented on #43
1. every mongoose call
2. we use mongodb 3.4 with following npm packages:
       "mongodb": "2.2.34",
        "mongodb-migrate": "2.0.2",
        "mongoose": "4.13.14",
        "mongoose-deep-populate": "2.0.3",
        "mongoose-field-encryption": "0.0.5"
3. "appoptics-apm": "5.9.0"

[2018-12-04 23:01] bmacnaughton commented on #43
thank you. i appreciate your help.

are you using mongoose with promises as opposed to callbacks?

[2018-12-13 18:11] bmacnaughton commented on #28
no worries. i get swamped with notifications too.

appoptics-apm v5.9.3 is just published. it has a number of changes primarily in v7 support. If you can give that a try I'd appreciate it. the biggest change in v7 is the way in which the pool works. v6 is somewhat challenging as it tries to maintain compatibility with previous versions and also implement the v7 changes.

We do have a docker-compos

[2018-12-13 19:20] bmacnaughton commented on #28
One additional question - are you using callbacks, promises, or events to handle the asynchronous calls?

[2018-12-20 06:47] Igor-Techsee commented on #43
thanks, I"ll try this version next week

[2018-12-20 18:16] bmacnaughton commented on #28
We released new postgres probes in v5.9.3. Could you give those a try and let us know whether it addresses your issues? They specifically addressed the pg v7 promises and pooled connections. our v6 instrumentation does not support promises but continues to support events and callbacks.

[2018-12-24 17:49] bmacnaughton commented on #28
@chooban - the latest commit includes a a docker setup for the mac. It's `test/docker/mac-os-test-env` and can be used for developing and/or testing.

[2018-12-27 12:34] Igor-Techsee commented on #43
still same issue :
 2018-12-27T12:30:37.043Z appoptics:warn ao.bind() - no context Error: CLS NOT ACTIVE
at Object.exports.bind (/var/www/techsee-api/node_modules/appoptics-apm/lib/index.js:638:17)
at model.Query._wrapCallback (/var/www/techsee-api/node_modules/appoptics-apm/lib/probes/mongoose.js:112:37)
at model.Query.Query.findOne (/var/www/techsee-api/node_modules/mquery/lib/mquery.js:1811:19)

[2018-12-27 13:41] Igor-Techsee commented on #43
I see warnings also on 'mongoose-deep-populate' related queries :
 2018-12-27T12:45:10.468Z appoptics:warn ao.bind(anonymous) - no context Error: CLS NOT ACTIVE
at Object.exports.bind (/var/www/techsee-api/node_modules/appoptics-apm/lib/index.js:638:17)
at model.Query.<anonymous> (/var/www/techsee-api/node_modules/appoptics-apm/lib/probes/mongoose.js:102:42)
at model.Query.Query.exec (/var/www/tec

[2018-12-27 14:22] bmacnaughton commented on #43
@Igor-Techsee - thanks for checking this out and I'm sorry it didn't fix the issue for you. I have a couple questions:

could you expand a bit on how you're using kareem? we test `findOne` specifically and, at least in our tests, we manage to maintain context. So, based on the stack trace, it seems that context has been lost before `Query.Query._findOne()` is being called.

also, are you seeing th

[2018-12-27 14:41] Igor-Techsee commented on #43
It happens on every findOne, in dashboard I can see find/update queries

[2018-12-27 14:44] Igor-Techsee commented on #29
agent version 5.9.4 + hapi 16.7 :
2018-12-27T14:02:04.891Z appoptics:error task IDs don't match (hapi:exit 2b:bbb91929150bb1c73146d2d16ef7b2e9ac09b99a:d10467d4909ca0f5:01 vs zlib:exit 2b:00b54a0271858a901f75ed76a316404a020fd8ff:ea007865a7a650c9:01)
2018-12-27T14:02:04.891Z appoptics:error hapi:exit 2b:bbb91929150bb1c73146d2d16ef7b2e9ac09b99a:d10467d4909ca0f5:01 tried to add empty edge
2018-12-27T1

[2018-12-27 16:17] bmacnaughton opened #49 "task IDs don't match for hapi@16"
hapi@16 is getting task IDs don't match errors.

[2018-12-27 16:18] bmacnaughton commented on #49
@Igor-Techsee reports:

@bmacnaughton
agent version 5.9.4 + hapi 16.7 :
2018-12-27T14:02:04.891Z appoptics:error task IDs don't match (hapi:exit 2b:bbb91929150bb1c73146d2d16ef7b2e9ac09b99a:d10467d4909ca0f5:01 vs zlib:exit 2b:00b54a0271858a901f75ed76a316404a020fd8ff:ea007865a7a650c9:01)
2018-12-27T14:02:04.891Z appoptics:error hapi:exit 2b:bbb91929150bb1c73146d2d16ef7b2e9ac09b99a:d10467d4909ca0f5:0

[2018-12-30 08:44] Igor-Techsee commented on #49
1. Our project contains legacy code with callbacks and currently we use promises
2. I see only this error without a stack, so I don't know were in the code it happens

[2019-01-11 09:14] chooban commented on #28
Thanks, taking a look at it now as we're using a newer version of koa-router which also causes issues!

With the latest APM package, I get an error trying to construct a Router: `TypeError: Router is not a constructor`. If I do the simplest thing of printing out the function as a string, I get `app => patchApp(app, router)`. Printing it out when I've not included the APM package gives me a recogni

[2019-01-26 09:47] chooban commented on #28
As the original reporter I'm happy that the issue is resolved. :+1:

[2019-01-30 13:49] bmacnaughton commented on #40
I am working on this. It will be part of the next major release (6.0.0) that will implement a `specialUrl` configuration to ignore requests/transactions.

It will also change the low-level API, use N-API instead of Nan for appoptics-bindings, and make significant internal changes.

[2019-03-06 02:24] bmacnaughton commented on #28
I believe this is addressed with the latest versions. And the koa-router problem has been addressed with your help - thank you.

[2019-03-06 02:24] #28 closed

[2019-04-16 08:29] lorenzfleerackers opened #62 "appoptics:error Can't load bindings Error'"
When i start my application i receive this error : "appoptics:error Can't load bindings Error: Cannot find module 'appoptics-bindings'"

Can someone help me?

Kind regards
Lorenz Fleerackers

[2019-04-16 18:35] cheempz commented on #62
Hi @lorenzfleerackers, that generally means something went wrong during agent install when it tries to build an addon (a.k.a the bindings).  Note that there are some system dependencies required:

https://docs.appoptics.com/kb/apm_tracing/nodejs/install/#dependencies

If the above are satisfied and you're still getting the error, could you do the following and provide the output to help us diagnos

[2019-04-29 12:50] bmacnaughton commented on #62
@lorenzfleerackers - if you're still having the problem please feel free to re-open this.

[2019-04-29 12:50] #62 closed

[2019-04-30 16:20] martin-rog001 opened #65 "Ignore certain error types"
Further to my conversation with AppOptics support staff, we were discussing potential options to disable certain errors from being recorded by the agent.

I'm currently having an issue where my exception logs are full of thousands of these exceptions:
[code]

They aren't of any use to us, so it would be great to have an option to filter these out of the dashboard (https://my.appoptics.com/apm/ - >

[2019-05-16 16:32] gtilma commented on #62
Request to reopen this issue; getting the following error on AWS Elastic Beanstalk:
[code]

Have verified OS-level dependencies listed at https://docs.appoptics.com/kb/apm_tracing/nodejs/install/#dependencies.

`node -v`
v6.12.2

`npm ls --json` (relevant snippet)
[code]

`cat /etc/os-release`:
[code]

With `export APPOPTICS_SHOW_OBOE_SETUP=1`, `npm install` in appoptics-bindings has possibly rele

[2019-05-17 15:00] bruce-solar commented on #62
the problem is that you are installing while running as root.

see the note on https://docs.appoptics.com/kb/apm_tracing/nodejs/install/

[2019-05-17 15:40] bmacnaughton commented on #62
another problem is that node v6.12.2 doesn't support napi.

[2019-05-17 16:23] gtilma commented on #62
For posterity, the node version was the root cause as @bmacnaughton says. The first support of napi is in 6.14.3.

[2019-05-17 16:34] gtilma commented on #62
Also for posterity, AppOptics support is great :1st_place_medal:

[2019-05-22 09:52] #43 closed

[2019-10-28 15:18] bmacnaughton commented on #65
Martin, thanks for this request. It's implemented in v6.9.0. Please let me know how it works for you.

Take a look at the [guide](https://github.com/appoptics/appoptics-apm-node/blob/master/guides/configuration.md) for some more information but the general idea is:

[code]

[2019-11-14 00:57] bmacnaughton commented on #20
@twiggy - The code in question has been completely reworked since this bug report. Can you verify that there is/isn't a problem with current versions of the agent?

[2019-11-20 12:41] bmacnaughton commented on #65
Closing as the feature has been added.

[2019-11-23 00:49] cheempz commented on #20
Closing, please feel free to reopen if this is still a problem.

[2019-11-23 00:49] #20 closed

[2019-12-28 12:14] bmacnaughton commented on #49
A number of fixes to address the task ID mismatch problem. If you still see this error please advise.

[2019-12-28 12:14] #49 closed

[2020-11-11 11:46] immohitrathi opened #128 "Dashboards and transactions data is empty on service [there is no data available]"
When I start my nodejs application using pm2, I don't receive any error in the logs and the service is able to successfully added on the apm dashboard.

https://docs.appoptics.com/kb/apm_tracing/nodejs/install/#dependencies

the above requirements are satisfied and I'm still not able to see any transactions/ avg response time/ request rate/ error rate etc on the dashboards.

Sharing other helpful

[2020-11-11 19:55] bmacnaughton commented on #128
Thanks for submitting the information. It looks like there are a number of missing dependencies; the ones that concern me are `node-gyp`'s - it is used to build a component required by appoptics-apm.

If would be helpful if you could provide the console logs (stderr) from the run; if there are problems that interfere with the agent operating normally there should be some appoptics' log messages th

[2020-11-12 06:33] immohitrathi commented on #128
{"message":"2020-11-12T06:26:33.996Z appoptics:info setting traceMode to 1\n","timestamp":"2020-11-12T06:26:33.996Z","type":"err","process_id":16,"app_name":"99WebReact"}
{"message":"2020-11-12T06:26:39.656Z appoptics:info making nodejs:single event\n","timestamp":"2020-11-12T06:26:39.656Z","type":"err","process_id":16,"app_name":"99WebReact"}
{"message":"2020-11-12T06:26:39.665Z appoptics:info in

[2020-11-12 12:41] bmacnaughton commented on #128
Thank you for the log. You just show a black APPOPTICS_SERVICE_KEY as a security measure I'm guessing but it is really of the form `service-key:service-name`.

One other thing to check - for historical reasons there are two ways logs can be generated in the agent (that's why you're setting APPOPTICS_LOG_SETTINGS and APPOPTICS_DEBUG_LEVEL). Messages from the legacy logging facility are not prefixed

[2020-11-16 19:30] bmacnaughton commented on #128
@immohitrathi - I'm going to close this as I am presuming that our conversation led you to finding the problem and solving it. If not, please reopen this so we can continue to address any issues.

[2020-11-18 07:24] immohitrathi commented on #128
@bmacnaughton  I'm sorry due to holidays here I couldn't check it. The issue still exists.
I have tried using below command but unfortunately the logs still are not very useful and not very detailed as you mentioned above.

APPOPTICS_SERVICE_KEY=YAEgtkQbX7k-pbVIj5YaZhN-CxKGYWxvXyIthFwm8hBf0tlgvy21Zw1QODxBXDh86c8GzDw:99acres-react-staging APPOPTICS_LOG_SETTINGS=error,warn,debug,patching,info,span p

[2020-11-18 13:40] immohitrathi commented on #128
Thanks for quick response.
Please find responses inline below to above queries:

- i'd like to verify that Warning: The API token supplied was not found. Metrics and tracing for this agent are currently disabled. does not appear in your logs.
ans: **Yes, this is not there in the logs**

- can you describe a bit about how the application is expected to work. is this a websocket application? there d

[2020-11-18 15:03] bmacnaughton commented on #128
only one question right now: what version of express?

i'll be looking into this later today.

[2020-11-18 15:10] immohitrathi commented on #128
express: ^4.16.4

[2020-11-18 17:48] bmacnaughton commented on #128
can i get your org ID?

also, a very strange situation that i need to look into - the fact that no "appoptics:patching" messages appear indicates that none of the modules are being patched (hence, no traces). that might be a side effect of using PM - i'll dig into that a bit.

[2020-11-19 07:56] immohitrathi commented on #128
@bmacnaughton  I think I have some lead on this.

I downgraded appoptics-apm version to **7.1.1** and now can see patching logs using both pm2 and non pm2 commands. However this still doesn't work and trace any transactions.

**here are the logs using pm2:**  -
{"message":"2020-11-19T07:38:18.514Z appoptics:debug Setting ao.serviceKey to YAEg...GzDw:99acres-react-staging\n","timestamp":"2020-11-19

[2020-11-21 13:31] bmacnaughton commented on #128
sorry for the delay; i've been sidetracked but it looks like you've made some great progress. i appreciate your work and will look at this today.

[2020-11-22 14:06] bmacnaughton commented on #128
@immohitrathi  - here's the node cluster code, which i believe that pm2 uses. if that's the case then it looks like http is required before appoptics (if appoptics is only required in the subprocess). so i think however much of the pm2 and upper-level application code you can share would be very useful.

https://nodejs.org/dist/latest-v14.x/docs/api/cluster.html#cluster_cluster

[2020-11-23 05:15] immohitrathi commented on #128
@bmacnaughton  thanks for your inputs so far. Just a thought, I think pm2 should not be the main culprit here since I tried running the server without pm2 as well and the appoptics logs were similar.

**Org Id: 282950**

This is my server.js file which is the first file which is run. Please see if this helps.

[code]

[2020-11-23 05:22] immohitrathi commented on #128
here is my pm2 config json file which is used to up the server
[code]
  "apps" : [{
    "name"                : "99WebReact",
    "script"              : "src/build/main.server.js",
    "watch"               : false,
    "instances"           : 4,
    "exec_mode"           : "cluster",
    "max_memory_restart"  : "2G",
    "log_type"            : "json",
    "error_file"          : "/data/node_log

[2020-11-23 15:08] bmacnaughton commented on #128
thanks for the detailed inputs. can you try one thing for me?

right after "require('appoptics-apm')" add
- require('http')

it's not clear to me where http is being required/imported but a specific require might be important. the docs say ecmascript modules are an experimental feature in node 10, so there might be some issues with them. and, with transparency, we don't support pure/native es modu

[2020-11-24 10:52] immohitrathi commented on #128
@bmacnaughton after adding` require('http')` it is working fine. I can see transactions/exceptions getting traced.
I would like to thank you for helping in fixing this. FYI, it is working using pm2 as well.

I'm deleting above source code.

[2020-11-24 11:58] bmacnaughton commented on #128
thanks for providing clear and useful information each step of the way.

[2020-11-24 11:58] #128 closed

[2020-11-24 14:33] immohitrathi opened #129 "Make agent pick specific gcc version"
Hello,
I have a situation where our production servers don’t have the required gcc version i.e 4.7 and above. Now, since it’s a system library we don’t know what applications, libraries will be impacted if we upgrade gcc version.

Please let us know if there is a possibility of installing gcc@4.7 and passing this gcc path to appoptics module using some env var or configuration

We have tested this

[2020-11-24 15:54] bmacnaughton commented on #129
there is not a way to do what you're asking at this time. distributing pre-built binaries is on our roadmap, but not scheduled at this point. in general, the compiler and libraries are backwards compatible. but forward compatibility is not and is typically determined by the GLIBCXX library version required by the compiler's output.

i can't guarantee it but i think there is little risk to upgradin

[2020-11-24 19:51] bmacnaughton commented on #128
one additional thought - if you want body-parser instrumented, require it too. likewise for any database modules you might import.

[2020-11-25 17:43] bmacnaughton commented on #129
i'm going to close with and link this issue to our jira pre-built binaries issue. we'll notify you when the project is started and when it's done.

[2020-11-25 17:43] #129 closed

[2020-12-07 12:33] immohitrathi opened #132 "Can't load bindings Error: /lib64/libstdc++.so.6: version `CXXABI_1.3.8' not found"
Hi,

**node and pm2 version**
v10.10.0 and 3.2.2

**cat /etc/os-release**
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"

**gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39)**

Getting below error in logs and service is not getting registered.

Logs:
appoptics:error **Can't load bindings Error: /lib64/libstdc++.so.6: version `CXXABI_1.3.8'** not found (required b

[2020-12-08 20:05] bmacnaughton commented on #132
It looks like your issue might be installing appoptics on a different machine and copying the installations?

I created a container and installed, using node v10.23.0, and loaded. if i install on ubuntu 20.04 using gcc 9.3.0 then it references

**cat /etc/os-release**
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_CO

[2020-12-09 02:28] immohitrathi commented on #132
Yes, you’re right. We copy whole zipped installation from our pre prod server to production and then run it. I just checked pre prod server is on centos 6 which might be creating an issue here.
 But as per the details shared by you, will it not work on centos 7 either then?

[2020-12-09 03:33] bmacnaughton commented on #132
it depends on what libraries and compilers are installed. i would guess that the centos 6 pre-prod server has updated versions of the compiler and libraries because i would expect it to work if they were the libraries originally supplied. new versions may have new CXXABI versions but they don't drop the newest versions when they create new versions of the libraries and compiler.

the compiler that

[2020-12-09 13:21] bmacnaughton commented on #132
i will post a message on one of these issues when pre-built binaries are ready to go. i appreciate the information you provide when you submit an issue.

[2020-12-09 13:21] #132 closed

[2021-01-15 08:17] immohitrathi opened #134 "Getting multiple errors from appoptics which restarts the Node process"
Below errors are getting logged in stdout at the same time when our Node process is getting restarted. At this point we're not sure if this is the main reason for process restarts or not. This is happening exactly after 12 hours at 11:30.

Below is the alert which we get.
`Kubernetes POD Restart Alert: Namespace:: 99-discovery, Service:: discovery-99webreact, POD_Name:: discovery-99webreact-846748

[2021-01-15 13:36] immohitrathi commented on #65
I want to ignore below such errors in appoptics which are showing as exceptions for each request, this is non breaking and page works just fine.

ENOENT: no such file or directory, stat '/opt/node_app/app/public/healthcheck'
ENOENT: no such file or directory, stat '/opt/node_app/app/public/akansha-deep-heights-kunhari-kota-npxid-r353279'
ENOENT: no such file or directory, stat '/opt/node_app/app/p

[2021-01-15 15:08] bmacnaughton commented on #65
if `fs` is set `"enabled": false` then no `fs` events will be reported. that will suppress errors but it will also suppress all `fs` events.

i think you want `"enabled": true` if i understand correctly.

[2021-01-19 08:54] immohitrathi commented on #65
@bmacnaughton
I would like to thank you for being so helpful with issues being faced.

I have put below `appoptics-apm-config.json` file at the project root directory but I can still see these ENOENT exceptions on appoptics dashboard. Is there anything I'm missing here?

Sample exceptions:
ENOENT: no such file or directory, stat '/opt/node_app/app/public/healthcheck'
ENOENT: no such file or direct

[2021-01-19 12:28] bmacnaughton commented on #65
without more information i can't be sure, but it looks like you're executing a `stat` call. you will need to add `"stat": {"ENOENT": true}` to the `ignoreErrors` object.

[2021-01-19 12:41] immohitrathi commented on #65
is this what you meant?

{
  "enabled": true,
  "serviceKey": "YAE********************************************:content-99webreact-prod",
  "probes": {
    "fs": {
      "enabled": true,
      "ignoreErrors": {
        "open": {
          "ENOENT": true
        },
        "stat": {
          "ENOENT": true
        }
      }
    }
  }
}

[2021-01-19 13:28] bmacnaughton commented on #65
yes, sorry for the delay.

[2021-01-20 04:30] immohitrathi commented on #65
@bmacnaughton  this is still not working as suggested by you above, I have attached few dashboard SS for your reference. Please let me know the details needed to debug this. These spans are internally triggered from appoptics for each request. Thanks

![image](https://user-images.githubusercontent.com/17422582/105126953-d3203700-5b05-11eb-8a34-911835c32862.png)
![image](https://user-images.githubu

[2021-01-20 08:58] lc3t35 opened #135 "AppopticsAPM disabled due to: require failed: MODULE_NOT_FOUND"
Here is the error message :

[code]

The key is valid (if I remove the APPOPTICS_SERVICE_KEY, I have a no valid service key), this happens with the key.

First line of App.js is `require('appoptics-apm');`
Is it possible to use import syntax instead of require ?

[2021-01-20 11:23] bmacnaughton commented on #65
i will take a look at this later this week. in the meantime disabling `fs` should work.

is your code performing an `fs.statSync` or an `fs.stat`? if this is the result of an `fs.statSync` call then setting the option `throwIfNoEntry` to `false` *might* solve the problem.

[2021-01-20 12:11] immohitrathi commented on #65
I am not using these functions in my code, not sure if some internal/external library(morgan, winston etc) is using or not.

[2021-01-20 12:25] bmacnaughton commented on #65
is there a stack trace if you dig into the spans?

[2021-01-20 12:37] immohitrathi commented on #65
This is what is there in the trace on dashboard

at Object.backtrace (/opt/node_app/app/node_modules/appoptics-apm/lib/api.js:286:15)
at runSpan (/opt/node_app/app/node_modules/appoptics-apm/lib/api.js:911:42)
at runInstrument (/opt/node_app/app/node_modules/appoptics-apm/lib/api.js:898:10)
at Object.instrument (/opt/node_app/app/node_modules/appoptics-apm/lib/api.js:789:10)
at Object.f [as stat]

[2021-01-20 12:46] bmacnaughton commented on #65
thanks for your help. i will take a look at this as i mentioned; i'm working on an issue i need to complete but should get to this later this week or on the weekend.

[2021-01-20 16:39] bmacnaughton commented on #135
is there any chance you're running on either windows or mac? the agent does not run in either environment.

we do not yet support using `import`.

[2021-01-20 17:24] lc3t35 commented on #135
yes, my test environment was on mac -> i'll test on staging which is linux based

[2021-01-20 17:24] #135 closed

[2021-01-20 18:27] bmacnaughton commented on #135
we probably should detect that in the agent and issue a better message. thanks for the followup.

[2021-01-20 20:48] lc3t35 commented on #135
or simply write it in the documentation ;)

[2021-01-20 21:54] bmacnaughton commented on #135
it is on the appoptics website, and the readme, near the top, mentions that linux is required. maybe it could add that windows and mac are not supported too.

[2021-01-23 14:54] bmacnaughton commented on #134
@immohitrathi - can you provide specifics on the OS/version and agent/version? i am not familiar with kubernetes so this is mostly guesswork: the first two messages are because the agent couldn't communicate with the collector. maybe kubernetes has disabled communications before stopping processes/waiting for processes to stop? That would explain the issue with attempting to write to a stream once

[2021-01-23 15:00] bmacnaughton commented on #65
the problem is in `lib/probes/fs.js` code, line 179: `if (method === 'open')`. it was a mistake to make the code specific to 'open'. if you're open to patching just replace the test with `if (true)` or remove the entire conditional.

otherwise i'll let you know when i can get a release out with this code.

[2021-01-23 15:24] immohitrathi commented on #65
@bmacnaughton thank you for taking time out to look into this on a weekend. We cache the node modules and patching can be tricky in the kubernetes environment. So I would request if you can fix it in next release.

thanks

[2021-01-23 15:26] immohitrathi commented on #134
Are you suggesting that these errors are side effects but not actual reasons for process exit?

[2021-01-23 16:00] bmacnaughton commented on #134
the errors all could result from network connections disappearing (the node error definitely is - the stream is destroyed).

i don't see any errors that would have happened before network connections disappeared.

so, yes, they look like side effects of either the network disappearing/being shutdown before processes are terminated. the ERR_STREAM_DESTROYED error could cause the system to shutdown

[2021-01-25 17:56] bmacnaughton commented on #134
a coworker mentioned that this could be an aggressive firewall/proxy that is cleaning up long-lived open sockets (if it is recurring and is always 12 hours after the connection was established).

[2021-01-28 05:30] immohitrathi commented on #65
@bmacnaughton  please tell when will the fix be released? We're holding on the migration to 100% due to this. I can see your changes being merged in master. Thanks.

[2021-01-28 12:13] bmacnaughton commented on #65
there will be a new major release before the end of next week that contains this fix as well as others. it will use node-pre-gyp so for even numbered LTS releases you will not need to have the build chain (gcc, python2, etc.) to deploy the software.

[2021-01-30 15:49] bmacnaughton commented on #65
@immohitrathi this is addressed in v10.0.0-rc1 which is now available on npm.

as there are quite a few changes in this release it would be great if you get a chance to give it a try. one of the biggest changes is that it does not require having the gcc toolchain installed if you're using one of the node LTS (even numbered) versions (the prebuilt binaries are tied to the node [node module version

[2021-01-30 15:49] #65 closed

[2021-01-30 15:52] bmacnaughton commented on #134
@immohitrathi - any additional information on this?

[2021-02-01 19:07] bmacnaughton commented on #65
@immohitrathi - can you verify that you've tried v10.0.0-rc1? i'd like to have your postive confirmation before i release it for general availability.

[2021-02-02 01:39] immohitrathi commented on #65
@bmacnaughton  I have tried this and everything looks good, also the exceptions are no more there. Thanks

[2021-02-02 11:28] bmacnaughton commented on #65
thanks you for your help. i will leave this closed. keep your eye out for a general release.

[2021-02-04 23:45] bmacnaughton commented on #134
@immohitrathi - i'm going to close this. feel free to reopen if there is an issue we can look into.

in the meantime, `appoptics-apm@10.0.0` is ga and includes the fixes in the rc version you're using. it would be best to stop using the rc version as it was a bit pre-release and uses a pre-release version of @appoptics/apm-bindings that wasn't published to the production binaries area.

[2021-02-05 13:04] #134 closed

[2021-02-19 06:13] immohitrathi opened #142 "Support for code profiling in nodejs apm"
Hi,

Is there support for code profiling in current apm because I can't see stack trace in case of 503 timeouts, it simply shows "local code". Attaching a snapshot for your reference. It is visible in case of java apms. Please see in Java APM we get Request duration by function. It is helpful in identifying which part of code is actually taking time.

![image](https://user-images.githubusercontent

[2021-02-22 22:57] cheempz commented on #142
Hi @immohitrathi, code profiling isn't supported for Node.js and it's not currently on our roadmap.  However, you may find the trace `Details` view (link on upper left of your first screenshot) will provide useful information on where time is being spent.  Note that in the details view you can also filter by the service, if the trace spans across multiple services, to narrow down the traced operat

[2021-10-05 23:48] cjhoward92 opened #179 "Please add a typescript definition file or other compatible typescript typings"
See title. Some officially supported typescript types would be helpful.

[2022-07-08 01:55] bmacnaughton opened #282 "the MIT license requires that reuse of the code contain the original copyright line and permission notice"
https://github.com/bmacnaughton/debug-custom/blob/master/LICENSE

contains

[code]

[2022-07-08 02:12] ronilan commented on #282
@bmacnaughton where should this be included? in https://github.com/appoptics/appoptics-apm-node/blob/master/LICENSE or a separate file?

[2022-07-08 02:14] ronilan commented on #282
Or just at the top of: https://github.com/appoptics/appoptics-apm-node/blob/nh-main/lib/debug-custom.js ???

[2022-07-08 03:39] bmacnaughton commented on #282
i believe it is appropriate to place it in the file.

[2022-07-08 20:50] bmacnaughton commented on #282
thank you; i appreciate the fast turnaround. and, as a general comment, you're doing great work.

[2022-07-08 23:19] #282 closed

[2022-09-08 07:31] vincenttouzet opened #286 "appoptics:error Can't load ace-context Error: Cannot find module 'ace-context'"
Hi,

I'm trying to add the appoptics-apm to our Angular Universal app but I encounter this error.

[code]
The `ace-context` is visible in our node_modules but I think that webpack does not include it in the build.

Any idea why I have this error ?